
.content {
    padding-top: 80px;
}
  
.navbar {
    font-family: "antique-olive", sans-serif;
    font-size: 2em;
    padding: 10px;
}
.navbar-brand {
    font-family: "brim-narrow";
    font-weight: 400;
    font-size: 1em;
}

#header {
    font-family:"brim-narrow", serif;
    font-weight: 400;
    background-color: rgb(200,200,200);
    padding: 200px;
}
                      
#header-title {
    font-family: "brim-narrow", serif;
    font-weight: 200;
}
#header-s {
    font-size: 0.7em;
}
#header-p {
    font-family: "brim-narrow", serif !important;
    font-weight: 400 !important;
    font-size: 1em !important;
}
#header img {
    height: 32px;
    width: 32px;
}


h2 {
    font-family: "brim-narrow", sans-serif  !important;
    font-weight: 400    !important;
}
/* test                                 
#about {
    background-color: rgb(100,100,100); 
    padding-bottom: 80px;
}*/
                                  
#portfolio {
    display: block;
    position: relative;
    margin: 0 auto;
}
/*.thumbnail {
    margin: 20px;
}*/
                                    
.social {
    color: gray;
    font-size: 50px;
}
